*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
   
    scrollbar-width: 20px;
    scroll-behavior: smooth;
    scrollbar-color: blue white;
}



.navbar-nav li a{

    margin: 20px;
    color: white!important;
    
    
}
.img1{
   position: relative;
   width: 100%;
   height: 100vh;
}
.img2{
    position: absolute;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 70%;
    


}
.bg{
    background-color: #333333;
}

.bg1{
    background-color: #ffff;
}
.hed h1{
     text-align: center;
     padding-top: 10%;
     text-transform: capitalize;
}
.hed p{
    text-align: center;

}

.imgC{
    margin-left: 60px;
    border-radius: 50%;
    margin-top: 10%;
}
.ras{
    margin-top: -25px;
}

.bg3{
    background-image: url(/images/background.png);
    background-size: cover;
    height: auto;
    margin-top: 10%;
    padding-bottom: 5%;
}
.tom{
    border-radius: 120%;
    width: 400px;
    margin-top: 15%;
}
.good{
    color: #ffc200;
    margin-top: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.para1{
    color: white;
}
.butt{
    background-color: #ffc200;
    color: white;
    padding: 2% 12%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: transform .2s;
}
.butt:hover{
    transform: scale(1.1);
    background-color: green;
    
}


.bg5{
    background-color: #303030;
    padding-bottom: 50%;
    background-image: url(/images/shape.png);
    background-repeat: no-repeat;
    

}
.sta{
    color: white;
    text-align: center;
    color: #ffc200;
    font-weight: bold;
    
    margin-top: -20px;
    
}

.ras{
    color: red;

}
.para{
    color: black;
}
.best{
    color: red;
}
.best1{
    color: red;
}

.par{
    color: white;
    text-align: center;
}
.plus{
    color: #ffc200;
    margin: 30px;
    
}
.parp{
    color: white;
}

.cir{
    border: 2px solid white;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    margin-left: 9%;
    margin-top: 5%;
   
}
.cir2{
    border: 2px solid white;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    margin-left: 9%;
    margin-top: 5%;
   
}
.cir3{
    border: 2px solid white;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    margin-left: 9%;
    margin-top: 5%;
 
}
.cir4{
    border: 2px solid white;
    border-radius: 500%;
    height: 150px;
    width: 150px;
    margin-left: 9%;
    margin-top: 5%;
}

.bg6{
    background-image: url(/images/backgound2.png);
    height: 158vh;
    margin-top: -12%;
}
.qur{
    border-radius: 50%;
    width: 500px;
    margin-top: 55%;
}

.para11{
    color: white;
}
.butt1{
    background-color: #ffc200;
    color: white;
    padding: 2% 12%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: transform .2s;
}
.butt1:hover{
    transform: scale(1.1);
    background-color: green;
    
}

.good1{
    color: #ffc200;
    margin-top: 60%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
}


.liner{
    background-image:  url(/images/grdient.png);
    height: 100vh;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: 100%;
    position: relative;
    color: white;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}                      

.banner{
    background-image: linear-gradient(orange,orange);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}
.inde{
    z-index: 1;
    font-size: 40px;
    font-weight: bold;
}
.indep{
    z-index: 1;
    font-weight: bold;
}


.bg7{
    background-color: #ffff;
    background-image: url(/images/shape.png);
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg7 h1{
    color: #ffc200;
    font-weight: bold;
    font-size: 50px;
}
.bg7 p {
    color: black;
    font-size: 23px;
    text-align: center;
}
label{
    position: relative;
}
input{
    width: 300px;
    padding: 14px;
}
.butt11{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 14px;
    background-color: blue;
    color: white;
}

.wrapper{
    background-image: url(/images/shape.png);
    
}
 .input_field input{
    width: 100%;
    margin-bottom: 3%;
    background-color: lightgrey;
    border: none;
    outline: none;
    
    
    
}
.input_field textarea{
    width: 100%;
    background-color: lightgrey;
    outline: none;
    border: none;
}
.btn button {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    padding: 30% 58%;
    border: none;
    transition: transform .2s;
    
    
}
.btn button:hover{
    transform: scale(1.2);
    background-color: green;

}
.conta{
    text-align: center;
    margin-bottom: 5%;
    margin-left: 9%;
}


.foo{
    background-color: rgb(15, 15, 15);
    margin-top: 5%;
}
.h11{
    color: white;
}
.listh1{
    color: white;
}
.hed{
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding-top: 6%;
    padding-bottom: 4%;
    font-weight: bold;
}


label{
    position: relative;
}
.inpu{
    width: 300px;
    border: none;
    padding: 14px;
}
.butt3{
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 14px;
    background-color: blue;
    color: white;
}

.icons li{
    display: inline;
    list-style: none;
    color: white;
    font-size: 25px;
    padding:0 5%;

}
.icons{
    margin-top: 6%;
    
}

.fa-twitter:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}
.fa-facebook:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}
.fa-youtube:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
.fa-whatsapp:hover{
    background-color: white;
    color: green;
    cursor: pointer;
}
.para{
    color: white;
    cursor: pointer;
}

.list li{
   color: white;
   list-style: none;
   margin-left: 30%;
   font-weight: bold;
   cursor: pointer;
}
.listh1{
    margin-left: 30%;
    font-weight: bold;

}
.h11{
    font-weight: bold;
}
.para1{
    color: white;
}

.aboverfoo{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 16px;
}

.conta{
    padding-top: 20%;
}















@media (max-width:992px) {
     .nav-link{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .nav-item{
        margin-top: -4.8%;
    }
    .navbar-brand img{
        width: 250px;
    }
   

    .list li{
        margin-left: -1%;
    }
    .listh1{
        margin-left: -1%;
        margin-top: 3%;
    }

    .bg5{
        background-color: #303030;
        padding-bottom: 50%;
        background-image: url(/images/shape.png);
        background-repeat: no-repeat;
        
    
    }
    .sta{
        color: white;
        text-align: center;
        color: #ffc200;
        font-weight: bold;
        padding-top: 40%;   
        
    }

    .bg6{
        background-image: url(/images/backgound2.png);
        height: auto;
        padding-bottom: 30%;
        
        
    }
    .qur{
        border-radius: 50%;
        width: 500px;
        margin-top: 55%;
    }
}

@media (max-width:768px){
    .bg6{
        background-image: url(/images/backgound2.png);
        height: auto;
        margin-top: -40%;  
    }
    .navbar-brand img{
        width: 200px;
    }
    .qur{
          width: 300px;
    }
   

    
}

@media screen and (min-width:980px) and (max-width:1300px) {
    .bg6{
        background-image: url(/images/backgound2.png);
        height: auto;
        margin-top: -40%;
        max-width: 100%;
    }
    
}

@media (max-width:413px){
    .cir{
        border: 2px solid white;
        border-radius: 500%;
        height: 150px;
        width: 150px;
        margin-left: 28%;
        margin-top: 5%;
       
    }
    .cir2{
        border: 2px solid white;
        border-radius: 500%;
        height: 150px;
        width: 150px;
        margin-left: 28%;
        margin-top: 5%;
       
    }
    .cir3{
        border: 2px solid white;
        border-radius: 500%;
        height: 150px;
        width: 150px;
        margin-left: 28%;
        margin-top: 5%;
     
    }
    .cir4{
        border: 2px solid white;
        border-radius: 500%;
        height: 150px;
        width: 150px;
        margin-left: 28%;
        margin-top: 5%;
    }

    .ras{
        color: red;
        padding-left: 19%;
    
    }
    .para{
        padding-left: 19%;
    }
}

@media (max-width:320px){
    label{
        position: relative;
    }
    .inpu{
        width: 220px;
        padding: 8px;
    }
    .butt11{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        padding: 8px;
        background-color: blue;
        color: white;
    }
}


